@inherits RandomCollageBase

<h3>Random Collage (@PictureCallageCount)</h3>

@if (RandomDogs != null)
{
    <h2>Random collection count: @RandomDogs.Count</h2>


    <div>

        <div class="container">
            @foreach (Image dog in RandomDogs)
            {

                <div class="item">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="@dog.url">
                                <div class="demo-mat-card-content" style="color: white;">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        @*@if (@dog.breeds.Count > 0)
                                            @dog.breeds?.First()?.breed_group*@
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        @if (dog.breeds.Count > 0)
                                        {
                                            @dog.breeds.First().name

                                        }
                                    </MatSubtitle2>
                                </div>
                            </MatCardMedia>
                            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                @*@if (@dog.breeds.Count > 0)
                                    Country: @dog.breeds?.First()?.country_code*@
                            </MatBody2>
                        </MatCardContent>
                        <MatCardActions>
                            <MatCardActionButtons>
                                <MatButton>Read</MatButton>
                                <MatButton>Bookmark</MatButton>
                            </MatCardActionButtons>

                            <MatCardActionIcons>
                                <MatIconButton Icon="@MatIconNames.Favorite"></MatIconButton>
                                <MatIconButton Icon="@MatIconNames.Dashboard"></MatIconButton>
                            </MatCardActionIcons>
                        </MatCardActions>
                    </MatCard>
                </div>


            }

        </div>


    </div>


}

<style>
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-between;
        align-content:space-around
        /* display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;*/
    }

    .item {
        margin-top: 15px;
        margin-bottom: 15px;
        /* padding: 20px;
        font-size: 30px;
        text-align: center;*/
    }
</style>

