@page "/contact-us"


<h3>Contact Us</h3>

<div class="contact-container">

    <div class="item">
        <p >
            <MatTextField @bind-Value="@Name" OnKeyUp="@OnNameChanged" Label="Name"></MatTextField>
        </p>
    </div>

    <div class="contact-item">
        <MatTextField @bind-Value="@EmailAddress" Label="Email Address"></MatTextField>

    </div>

    <div class="contact-item">
        <p>
            <MatTextField @bind-Value="@Message" Label="Message" TextArea="true"></MatTextField>
        </p>
    </div>
    <div class="itemcontact-">
        <p>
            <MatButton OnClick="@Submit" Disabled="@(!CanSubmit)">Submit</MatButton>
        </p>
    </div>

    <p>@Name</p>
    <p>@EmailAddress</p>
    <p>@Message</p>


</div>


<style>
    .wide{
        width:100%;
    }
    .contact-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-content:center;
    }

    .contact-item {
        margin-top: 15px;
        margin-bottom: 15px;
    }

</style>

@code {
    public string Name { get; set; }
    public string EmailAddress { get; set; }
    public string Message { get; set; }
    public bool CanSubmit { get; set; }


    public void Submit()
    {


    }

    public async void OnNameChanged(KeyboardEventArgs e)
    {

        if (!string.IsNullOrEmpty(Name))
            CanSubmit = true;

        await InvokeAsync(() => { StateHasChanged(); });

    }


}

