@inherits GlossoryBase
@page "/glossory"


<h3>Glossory (@BreedCount dogs cataloged)</h3>

@if (string.IsNullOrEmpty(ErrorMessage))
{
    @if (Breeds == null)
    {
        <p>
            <i>
                Loading glossory breeds ...
            </i>
        </p>
    }
    else
    {
        <h4>Welcome</h4>

        <MatTable Items="@Dogs" class="mat-elevation-z5">
            <MatTableHeader>
                <th>Selfie</th>
                <th>Info</th>
            </MatTableHeader>
            <MatTableRow>
                <td>


                    <img height="40px" width="60px" src="@context.url" />


                </td>
                <td>
                    <div class="mat-layout-grid">
                        <div class="mat-layout-grid-inner">
                            <div class="mat-layout-grid-cell">
                                <div class="mat-layout-grid-inner">
                                    @if (@context.breeds != null && @context.breeds.Count > 0)
                                            {
                                        <div class="mat-layout-grid-cell">Name: @context.breeds[0].name</div>
                                        <div class="mat-layout-grid-cell">Breed group: @context.breeds[0].breed_group</div>
                                            }

                                </div>
                            </div>
                            <div class="mat-layout-grid-cell">
                                <div class="mat-layout-grid-inner">
                                    @if (@context.breeds != null && @context.breeds.Count > 0)
                                            {
                                        <div class="mat-layout-grid-cell">Country Code: @context.breeds[0].country_code</div>
                                        <div class="mat-layout-grid-cell">Bred For: @context.breeds[0].bred_for</div>

                                            }

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </MatTableRow>
        </MatTable>
    }


}
else
{
    <h3>ERROR</h3>
    <p>
        @ErrorMessage
    </p>
}

